h1  {
          background-color:pink;
		  color;white;
text-align:center;		  }

h2   {
	      background-color:#FFB6C1;
          color;black: }

body { 
         font-family:arial;
         background-color:#D8BFD8; }	
	       
ul  {background-color:#FFFAF0;
border:  solid 5px;
border-color:#8B0000;
border-top-style: dotted;
border-bottom-style:  dashed;
paddling-top:  5px}		   